<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forget Password</title>
    <script src="../static/jquery-3.6.0.js"></script>
    <script src="../static/forgetPass.js"></script>
    <link rel="stylesheet" href="../static/forgetPass.css">
    
</head>
<body>
    <div id="preloader"></div>
    <div class="container">
        <div class="search-wrapper cf">
            <input id="gmailId" type="text" placeholder="Enter your email..." required style="box-shadow: none">
            <button id="gmailIdSubBtn" type="submit">Submit</button>
        </div>
        <div class="search-wrapper cf">
            <input id="otp" type="text" placeholder="Enter your otp..." required style="box-shadow: none">
            <button id="otpSubBtn" type="submit">Submit</button>
        </div>
    </div>
</body>
</html>   